# Maven build output
target/

# Heruntergeladenes Maven (wird automatisch neu geladen)
.maven/

# Maven wrapper
.mvn/

# Server-Ordner (JAR, Welt, Logs usw.)
server/

# IDE
.idea/
*.iml
.vscode/

# Windows
Thumbs.db
